timm
torch-ema@git+https://github.com/fadel/pytorch_ema@27afe25b9fb9f0d05a87ae94e4e4ad9e92d70a85
pytorch-metric-learning
torch-optimizer
PyYAML==5.3.1
albumentations==0.5.2
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46